
main{
    background-color: #202020;
    display: flex; 
    justify-content: center;
    padding: 10px;
    display: flex;
}

#Contenedor{
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

}

#quienSoy{
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

#presentacion{
    background-color: #404040;
    height: 40px;
    width: 95%;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;

}

#InfoBasica_Texto--desc{
   display: flex;
   align-items: center;


}

#InfoBasica{
    width:fit-content;
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 15px;
}
#Bio{
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

#InfoBasica_Img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid white;

}

#InfoBasica_Img img{
    width: 100px;
    height: 100px;
    object-fit: contain;
   
}

.Bio_cajas{
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    column-gap: 15px;

}

.Bio_estudios--titulo{
    color: #fd6084;

}

#EstudiosUbicacion{
    font-size: 12px;
    text-indent: 5px;
    color: #E8CC59;

}


#Bio_estudios--ConocimientosLista{
    font-size: 10px;
    list-style: square inside;
    display: flex;
    flex-direction: column;

}

 #contacto{
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

 }
 
 #contacto_redes{
    display: flex;
    flex-direction: column;
    row-gap: 10px;


 }

 .contacto_redes--red{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    color: #808B96 ;

 }

 #Certificado{
    display: flex;
    align-items: center;

 }

 section{
    border-radius: 5px;
    padding: 5px;

 }

 .styleBlack{
    background-color: #005f6b;
    font-weight:bolder;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
}

.styleWhite{
    background-color:#2a2829;
    font-weight:bolder;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
}